body {
    color:rgb(33, 104, 12);
    background: rgb(35, 92, 9);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgb(17, 94, 10);
    padding: 20px;
    font-size: 32px;
    color: rgb(8, 75, 17)
}

 section {
    background: rgb(23, 129, 9);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
 }

 .chamada-texto {
    margin-right: 5%;
 }
 h1 {
    font-size: 40px;

 }

 p {
    font-size: 20px;
 }
 img {
     min-height: 200px;
 }

 .categoria-videos{
   display: flex;
   overflow-x: auto;
   gap: 10px;
 }

 .categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
   margin-bottom: 100px;
 }

 .categoria-videos img {
   opacity: 0.5; 
}
.categoria-videos img:hover {
   opacity: 1.0;
   border: 1px solid green;
}
